<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @validation_pattern.name %>
</p>

<%= link_to 'Edit', edit_validation_pattern_path(@validation_pattern) %> |
<%= link_to 'Back', validation_patterns_path %>
